<div class="card">
	<!-- Start User Details and Image Location -->
	<div class="top">
		<div class="userDetails">
			<!-- Link to User Profile Page -->
			<a href="#" action="#" method="#">
				<div class="profilepic">
					<div class="profile_img">
						<div class="image">
							<img src="/static/images/person.png">
						</div>
					</div>
				</div>
			</a>
			<h3>
				<!-- Link to User Profile Page -->
				<p>
					<!-- show user username -->
					{{owner}}
				</p>
				<!-- photo's location -->
				<span>{{location}}</span>
			</h3>
		</div>
	</div>

	<!-- Start Pet Photo -->
	<div class="imgBx">
		<img src="{{image}}" alt="post" class="cover">
	</div>
	<!-- Name of Pet -->
	<h5 class="petName">{{name}}</h5>
	<!-- Age of Pet -->
	<h5 class="petAge">{{age}}</h5>
	<!-- Link to Photo Details Page -->
	<a href="/photo/{{_id}}/details" id="see-details">
		<h4 class="details">See details</h4>
	</a>
</div>